/* Body */
body{
  background-color: azure;
}
/* App-Logo */
.App-logo {
  height: 10vmin;
  margin-right: 200vmin;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: hsl(316, 73%, 48%);
  height: 10vmin;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  background-size: cover;
  background-color: rgb(66 63 43);
  padding: 10px;
}

.navbar img {
  margin-right: 10px;
  /* Add any other image styling you need */
} 

.navbar a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
  padding: 10px;
  font-size:25px;
}
/* Dropdown */

.dropdown {
  position: relative;
}

.dropbtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: white;
  font-size:25px;

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #db8181;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.submenu {
  position: relative;
}

.subbtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: white;
font-weight: bold;
}

.submenu-content {
  display: none;
  position: absolute;
  background-color: #db8181;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.submenu-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.submenu-content a:hover {
  background-color: #ddd;
}

.submenu:hover .submenu-content {
  display: block;
}
